:root {
    --accent: #2275C8;
    --dark-bkg: #10302B;
    --text: #66717e;
    --light-text: #EACCC8;
    --green-text: #67B43E;
    --gradient-blue: linear-gradient(260deg, var(--accent) 0%, var(--light-text) 100%);
    --gradient-green: linear-gradient(260deg, var(--dark-bkg) 0%, var(--text) 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark-bkg);
    color: var(--light-text);
    text-align: center;
    font-family: "Arvo", serif;
}

/* HEADER & NAV BAR */
header {
    height: 60vh;
    background: url("../img/headerbkg_1.jpg") bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Title;
}

header h1 {
    background-color: var(--accent);
    opacity: 0.8;
    padding: 18px;
    border-radius: 12px;
    color: var(--green-text)
    font-family: Title;
}

.nav-bar-color {
    background-image: var(--gradient-green) !important;
}

.nav-bar {
    background-image: var(--gradient-blue);
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    border: 1px solid var(--accent);
    margin: 12px;
    border-radius: 12px;
}

nav a {
    text-decoration: none;
    font-family: Title;
    padding: 20px;
    display: inline-block;
    color: var(--light-text);
    transition: all 0.2s;
    text-transform: uppercase;
    text-shadow: var(--dark-bkg) 0px 0px 10px;
}

nav ul li a:hover {
    color: var(--blue);
    border: 0.5px solid var(--light-text);
    transform: rotate(60deg);
    border-radius: 12px;
}

/* IMAGES */
.me-img {
    border-radius: 12px;
    width: 200px;
    box-shadow: var(--accent) 0px 20px 30px -10px;
}
.me-img:hover {
    box-shadow: var(--light-green) 0px 20px 30px -10px;
}

/* LINKS */
.standard-link {
    font-family: Font;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    border-radius: 12px;
    color: var(--light-text);
    box-shadow: var(--accent) 0px 20px 30px -10px;
}

.standard-link:hover {
    background-color: var(--dark-bkg);
    border-radius: 12px;
    padding: 1em;
}

/* TYPOGRAPHY */

@font-face {
    font-family: Title;
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Font;
    src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

.site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background: var(--text);
    padding: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
    transition: transform 0.5s;
    border-radius: 12px;
}

h1 {
    margin-bottom: 12px;
    font-size: 48px;
    font-family: Title;
}

h2 {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid var(--purple);
    border-radius: 12px;
    box-shadow:
    rgba(0, 0, 0, 0.3) 5px 19px 38px,
    rgba(0, 0, 0, 0.22) 5px 15px 12px;
    font-family: Title;
}

h4 {
    text-decoration: underline;
    font-size: 20px;
    color: var(--light-grey);
    letter-spacing: 0.1em;
    margin-top: 1em;    
    font-family: Title;
}

p {
    margin: 1em;
    padding: 1em;
    font-size: 18px;
    line-height: 2em;
    word-spacing: 0.1em;
    text-shadow: var(--accent) 0px 0px 10px;
    font-family: Font;
    border-radius: 12px;
}

/* FOOTER */
.sitefooter {
    align-items: center;
    background-image: var(--gradient-green);
    bottom: 0;
    color: var(--text);
    display: flex;
    font-size: 1em;
    height: 80px;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: 12px;
    margin-top: 2em;
}

.sitefooter p {
    color: var(--light-text);
    transition: all 0.2s;
    text-transform: uppercase;
    text-shadow: var(--dark-bkg) 0px 0px 10px;
    font-family: Title;
}