{% extends "base.html.twig" %}

{% block title %}Draw a card{% endblock %}

{% block content %}
  <div class="site-wrap">
    <form method="post">
      <fieldset>
        <legend>Draw a card</legend>
        <div class="card-container">
            <ul class="card">
              {% if deck.getSuite() == 'H'%}
                <li class="red-suit">♥</li>
              {% elseif deck.getSuite() == 'S'%}
                <li class="black-suit">♠</li>
              {% elseif deck.getSuite() == 'C'%}
                <li class="black-suit">♣</li>
              {% else %}
                <li class="red-suit">♦</li>
              {% endif %}
              <li>{{ deck.getValue() }}</li>
            </ul>
      </div>
      <p class="btn-container">
        <input type="submit" name="draw" value="Draw a card" class="btn">
        <input type="submit" name="drawMultiple" value="Draw multiple cards" class="btn">
      </p>

      {# {{ include('block/flash-message.html.twig') }} #}

    </fieldset>
  </form>

  <div class="btn-container">
    <a href="{{path("card-home")}}" class="btn">
    Go back
    </a>
  </div>

</div>
{% endblock %}