{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>{{ title }}</h1>
    <div class="card-container">
    {% for card in deck %}
      <li>{{ card }}</li>
    {% endfor %}
    </div>
  </div>
{% endblock %}
